
.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Project-AI.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__
agents_*.xlsx